section.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 1700px;
  width: 100vw;
  position: relative;
  background-color: $background;

  div.about-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    margin-top: 25%;
    padding-top: 13%;
    h2 {
      font-family: $font-base;
      font-size: 5em;
      font-weight: 300;
      color: $alt2;
      text-shadow: 9px -6px $alt;
    }
  }
  div.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 75vw;
    padding-left: 3%;
    padding-right: 13%;
    padding-top: 5%;

    div.about-pic {
      display: flex;
      background-image: url("./../assets/about.jpg");
      height: 400px;
      width: 400px;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      border-radius: 50%;
      float: right;
      shape-outside: circle();
      margin-left: 4rem;
    }

    p {
      text-align: left;
      font-size: 2em;
      padding: 15px 0;
      color: $text;
    }
    p:first-of-type {
      text-align: justify;
    }
    span {
      text-align: center;
      font-size: 3rem;
      padding: 5px 0;
      color: $text;
      padding: 30px 0;
      span {
        color: $alt2;
        text-shadow: -6px -4px $alt;
      }
    }
  }
}
