section.about {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: $light-brown;
  div.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-bottom: 30px;
    h2 {
      font-family: $font-decor;
      font-size: 3em;
      font-weight: lighter;
      padding-top: 20px;
    }
    p {
      text-align: center;
    }
  }
}
