section.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  position: relative;
  background-color: $background;

  div.about-pic {
    display: flex;
    background-image: url("./../assets/about.jpg");
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin-top: 13%;
  }
  div.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70vw;
    h2 {
      font-family: $font-base;
      font-size: 5em;
      font-weight: 300;
      padding-top: 5%;
      padding-bottom: 2%;
      color: $alt2;
      text-shadow: -9px -6px $alt;
      span {
        color: $alt2;
      }
    }
    p {
      text-align: left;
      font-size: 2em;
      padding: 15px 0;
      color: $text;
    }
    span {
      text-align: center;
      font-size: 3rem;
      padding: 5px 0;
      color: $text;
      padding: 30px 0;
      span {
        color: $alt2;
        text-shadow: -9px -6px $alt;
      }
    }
  }
}
