header {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 100%;
  h1 {
    font-family: $font-headline;
    font-size: 4.3em;
    font-weight: lighter;
    letter-spacing: 0.5px;
    padding-top: 30px;
  }
}
