header {
  background-color: $ivory;
  display: flex;
  justify-content: center;
  height: 55vh;
  width: 100%;
  div.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    div.pic:after {
      content: "";
      height: 45vh;
      width: 16vw;
      background-image: url("./../assets/pic.JPG");
      position: absolute;
      top: 22vh;
      left: 42vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
    div.pic:before {
      content: "";
      background-image: url("./../assets/home-background2.jpg");
      height: 75vh;
      width: 50vw;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.7;
      top: 65px;
      left: 0px;
    }
    h1 {
      font-family: $font-headline;
      font-size: 4.7em;
      font-weight: lighter;
      letter-spacing: 0.5px;
      position: absolute;
      top: 59vh;
      left: 60vw;
    }
  }
}
