@keyframes left-slide {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right-slide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

section.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  opacity: 1;
  z-index: +1;
  div.navi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 100%;
      ul {
        padding-right: 21%;
        animation: 1s ease-out 0s 1 left-slide;
      }
      ul a,
      a:visited {
        font-family: $font-base;
        font-size: 1.1em;
        padding: 0 40px;
        color: $text;
        font-weight: 300;
        text-transform: lowercase;
      }
      ul a:hover {
        cursor: pointer;
        transition: 0.5s;
        color: $alt2;
        text-shadow: -3px -3px $alt;
      }
      ul a:hover span {
        text-shadow: -3px -3px $alt;
        transition: 0.5s;
      }
      a.navi-logo {
        display: flex;
        font-size: 3em;
        color: $alt2;
        text-shadow: -5px -4px $alt;
        padding-left: 16%;
        text-transform: lowercase;
        animation: 1s ease-out 0s 1 right-slide;
        p:last-of-type {
          transform: rotate(-35deg);
          padding: 0 0;
          margin: 0 0;
          font-size: 2.7rem;
          text-shadow: -4px -5px $alt;
          padding: 3px;
        }
      }
      a.navi-logo:hover {
        cursor: pointer;
        text-shadow: -5px -5px $alt;
        transition: 0.45s;
      }
    }
  }
}
